.footer-header {
    background: white;

    .sponsers {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;

        img {
            height: 100px;
            padding: 10px;
        }
    }

    .footer-headings {
        display: flex;
        flex: 1;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
}

.footer-bottom {
    background: #063;
    color: #dbdbdb;
}