<nav class="navbar navbar-expand-lg navbar-light nav-bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active" *ngFor="let navOptions of navbarOptions; let idx = index">
                <div *ngIf="navOptions.name !== 'Program' && navOptions.name !== 'Committees'">
                    <a class="nav-link" [routerLink]="[navOptions.routeLink]">{{ navOptions.name }}</a>
                </div>
                <div *ngIf="navOptions.name === 'Program' || navOptions.name === 'Committees'" class="drop-open">
                    <a class="nav-link drop-link" [routerLink]="[navOptions.routeLink]" role="button">
                        {{ navOptions.name }} <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="drop-menu">
                        <a class="drop-item p-1" *ngFor="let dropOptions of navOptions.options"
                            [routerLink]="[dropOptions.routeLink]">
                            {{dropOptions.name}}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>