<nav class="navbar navbar-expand-lg navbar-light nav-bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active" *ngFor="let navOptions of navbarOptions; let idx = index">
                <div *ngIf="navOptions.name !== 'Program' && navOptions.name !== 'Committees'">
                    <a class="nav-link" href="#">{{ navOptions.name }}</a>
                </div>
                <div *ngIf="navOptions.name === 'Program' || navOptions.name === 'Committees'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ navOptions.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" *ngFor="let dropOptions of navOptions.options" href="#">
                            {{dropOptions.name}}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>