.nav-bg {
    background: #0978df !important;

    .navbar-nav {
        position: relative;
        width: 100%;
        justify-content: space-evenly;

        .nav-item {
            a {
                color: #FFFFFF;
            }

            &:hover {
                background: #b5b3b3;

                a {
                    color: #2e2e2e;
                }
            }
        }
    }
}

.drop-open:hover .drop-menu {
    display: flex;
}

.drop-open:hover a {
    color: #2e2e2e;
}

.drop-menu {
    position: absolute;
    background: #b5b3b3 !important;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    display: none;

    .drop-item {
        color: #2e2e2e;
        box-shadow: 0px 1px 0px #2e2e2e;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 8px !important;

        &:hover {
            background: #0978df !important;
            color: white !important;
        }
    }
}

.disabled-nav {
    pointer-events: none;
    color: #737272 !important;
}