<nav class="navbar navbar-expand-lg navbar-light nav-bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand">
        <img src="assets/icdslogo.png" alt="">
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active" *ngFor="let navOptions of navbarOptions; let idx = index">
                <div *ngIf="!navOptions.isMoreOptions">
                    <a class="nav-link" (click)="navigationChange(navOptions)" [routerLink]="[navOptions.routeLink]"
                        [routerLinkActive]="['selected-nav']"
                        [routerLinkActiveOptions]="{ exact: !navOptions.options }">{{ navOptions.name }}</a>
                </div>
                <div *ngIf="navOptions.isMoreOptions" class="drop-open">
                    <a class="nav-link drop-link" (click)="navigationChange(navOptions)"
                        [routerLink]="[navOptions.routeLink]" [routerLinkActive]="['selected-nav']"
                        [routerLinkActiveOptions]="{ exact: !navOptions.options }" role="button">
                        {{ navOptions.name }} <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="drop-menu">
                        <ng-container *ngFor="let dropOptions of navOptions.options">

                            <a class="drop-item" *ngIf="!dropOptions.isPDF" (click)="navigationChange(navOptions)"
                                [class.disabled-nav]="dropOptions.disabled" [routerLink]="[dropOptions.routeLink]"
                                [routerLinkActive]="['selected-nav']"
                                [routerLinkActiveOptions]="{ exact: !navOptions.options }">
                                {{dropOptions.name}}
                            </a>
                            <a class="drop-item" *ngIf="dropOptions.isPDF" [href]="dropOptions.routeLink"
                                target="blank">
                                {{dropOptions.name}}
                            </a>
                        </ng-container>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>