<div class="container-fluid mt-3 mb-5">
  <marquee
    >Currently the conference with be held online as well as on physical mode.
    However, physical mode will be confirmed one month before the conference
    date (depend on the COVID-19 situation). Online participation will always be
    there.</marquee
  >
  <div class="row">
    <div class="col-md-12">
      <div class="committe-details text-center">
        <h3>Oversight Committees</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="committe-details mt-3 text-center">
              <div class="row" style="justify-content: center">
                <div
                  class="card text-center card-styles mt-2"
                  style="max-width: 400px"
                >
                  <img
                    class="card-img-top"
                    src="assets/Dr-Zubair.2.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Prof. Dr. Zubair A. Shaikh</h5>
                    <p class="card-text text-sub">Patron</p>
                    <p class="card-text text-center">
                      <i class="fa fa-linkedin"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 chairs">
      <div class="card text-center card-styles mt-2">
        <img
          class="card-img-top"
          src="assets/dean_foc-189x189.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Dr. Shaukat Wasi</h5>
          <p class="card-text text-sub">Conference Chair</p>
          <p class="card-text text-center">
            <i class="fa fa-linkedin"></i>
          </p>
        </div>
      </div>
      <div class="card text-center card-styles mt-2">
        <img
          class="card-img-top"
          src="assets/Dr_Bhawani_Shankar_Chowdhry.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Prof. Dr. Bhawani Shankar</h5>
          <p class="card-text text-sub">Conference Co-Chair</p>
          <p class="card-text text-center">
            <i class="fa fa-linkedin"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="committe-details mt-5 text-center">
        <h3>Advisory Committee</h3>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Dr. Asim Imdad Wagan</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Dr. Syed Imran Jami</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Dr. Kamran Azeem</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Dr. Khalique Rehman Raazi</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Dr. Kashif Ishaque</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Dr. Ghazanfar Monir</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
