<app-baseline-layout>
    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="sponsors">
                    <div class="sponser-details full-width" *ngFor="let spounser of spounsersList">
                        <div class="spounser-heading">
                            <h3>{{ spounser.spounser_type }}</h3>
                        </div>
                        <div class="spounser-name">
                            <span *ngFor="let name of spounser.spounsers_name_list">{{ name }}</span>
                        </div>
                        <div class="spounser-images">
                            <img [src]="img" alt="spounser-image" *ngFor="let img of spounser.spounsers_image_list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-baseline-layout>