<div class="page-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="overview">Welcome To JICDS’21</h1>
                <p class="hero-text">
                    Jinnah International Conference on Data Science 2021 (JICDS'21), is a second international
                    conference for sharing knowledge about
                    cutting edge research and applications of the multidisciplinary field of data science. The
                    conference will bring together researchers and practitioners from academia and industry to exchange
                    their knowledge and discuss about challenges and goals for data science.
                </p>
                <p class="hero-text">
                    The conference will be organized on <span>February 9-10, 2021 by Mohammad Ali Jinnah University,
                        Karachi. Due to precautions for the second wave of Covid19 pandemic</span>, the conference will
                    be held online.
                </p>
                <p class="hero-text">
                    The program of the conference will consist of <span>paper presentations, poster presentations,
                        system exhibition, doctoral colloquium, invited talks.</span> The topics of the conference
                    include, but are not limited to, the
                    following areas.
                </p>
                <div class="programs-ul">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li *ngFor="let items of programsLeftUl">{{items}}</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li *ngFor="let items of programsRightUl">{{items}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <app-important-dates [dates]="importantDate" [isDatesCenter]="false" [showHeader]="true">
                </app-important-dates> -->
            </div>
            <div class="col-md-4 mt-5 on-small-s">
                <div class="all-events mt-2">
                    <div class="paper-date">
                        <span>Paper Submission Date</span>
                        <span>20th Decemeber, 2020</span>
                    </div>
                    <div class="event-buttons m-3">
                        <a class="btn btn-outline-primary add-width" href="assets/download/callpaperdownloadbanner.jpeg"
                            download="call-for-paper.jpeg">Call
                            for Paper</a>
                        <a class="btn btn-outline-primary add-width" href="assets/Proceedings.pdf"
                            target="blank">Previous Proceedings</a>
                        <button class="btn btn-outline-primary add-width"
                            [routerLink]="['/programs/invited-speakers']">Invited
                            Speakers</button>
                        <button class="btn btn-outline-primary add-width" [routerLink]="['/gallery']">Gallery</button>

                    </div>
                    <!-- <app-home-sgallery></app-home-gallery> -->
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="date-time">
                    <div class="time-card">
                        <i class="fa fa-map"></i>
                        <h5>Where</h5>
                        <p>Mohammad Ali Jinnah University, Karachi</p>
                    </div>
                    <div class="time-card">
                        <i class="fa fa-clock"></i>
                        <h5>When</h5>
                        <p>February 9th - 10th, 2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="full-width">
                    <app-timeline [dates]="importantDate"></app-timeline>
                </div>
            </div>
        </div>
    </div>
</div>