<div class="container-fluid mt-3 mb-5">
  <marquee
    >Currently the conference with be held online as well as on physical mode.
    However, physical mode will be confirmed one month before the conference
    date (depend on the COVID-19 situation). Online participation will always be
    there.</marquee
  >
  <div class="row">
    <div class="col-md-12">
      <div class="committe-details mt-5 text-center">
        <h3>Program Committee</h3>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Dr. Khalique Rehman Raazi</h5>
                <p class="card-text text-sub">Chair</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Hira Hameed</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Mahnoor Iftikhar</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Rafia Shaikh</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Sufyan Ahmed</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="committe-details mt-5 text-center">
        <h3>Technical Committee</h3>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Dr. Tafseer Ahmed</h5>
                <p class="card-text text-sub">Chair</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Muhammad Yaseen Khan</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Nazish Nouman</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Aman Farooq</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="committe-details mt-5 text-center">
        <h3>Publicity/Public Relationing Committee</h3>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Syed Sarmad Ali</h5>
                <p class="card-text text-sub">Chair</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Zain Noreen</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Ali Raza</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Abdul Qayyum</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">M.Saif</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="committe-details mt-5 text-center">
        <h3>Publication Committee</h3>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Dr. Teerath Das</h5>
                <p class="card-text text-sub">Chair</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Mohammad Saif-ul-Islam</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Aman Farooq</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Mahnoor Iftikhar</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="committe-details mt-5 text-center">
        <h3>Registration & Finance Committee</h3>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Aqeel Tahir</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Fouzia Naz</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Samia Bashir</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="committe-details mt-5 text-center">
        <h3>Marketing Committee</h3>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Zain Noreen</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Rafia Shaikh</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styles mt-2">
              <div class="card-body">
                <h5 class="card-title">Rida Ayesha</h5>
                <p class="card-text text-sub">Member</p>
                <p class="card-text text-center">
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ================================================================================================ -->
  <!-- table -->
  <!-- <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">Reviewers</h2>
            <table class="table table-stripped mt-4" style="border-spacing: 0; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td><b>Dr. Abdul Samad</b>, Habib University, Karachi
                        </td>
                        <td><b>Dr. Adnan Masood</b>, UST Global, USA

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Arjumand Younus</b>, Insight Centre for Data Analytics, Ireland
                        </td>
                        <td><b>Dr. Awais Athar</b>, European Bioinformatics Institute, UK

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Chan Naseeb</b>, KPMG, Netherlands
                        </td>
                        <td><b>Dr. Dost Muhammad Khan</b>, Islamia University Bahawalpur, Bahawalpur

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Faisal Shifait</b>, NUST, Islamabad
                        </td>
                        <td><b>Dr. Faraz Rasheed</b>, Microsoft, Canada

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Faraz Zaidi</b>, Region of Peel, Canada
                        </td>
                        <td><b>Dr. Hafeez Ur Rehman</b>, FAST NU, Peshawar

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Jemal Abawajy</b>, Deakin University, Australia
                        </td>
                        <td><b>Dr. Khurram Junejo</b>, PAF-KIET, Karachi

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. M. Abdul Rehman Soomrani</b>, IBA, Sukkur
                        </td>
                        <td><b>Dr. M. Arshad Islam</b>, Capital University of Science &amp; Technology, Islamabad

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. M. Atif Qureshi</b>, CeADAR, Ireland
                        </td>
                        <td><b>Dr. M. Imad Khan</b>, Analytics &amp; Artificial Intelligence, Australia

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. M. Tanvir Afzal</b>, Capital University of Science &amp; Technology, Islamabad
                        </td>
                        <td><b>Dr. Mohammad Nauman</b>, FAST NU, Peshawar

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Muazzam Siddiqui</b>, King Abdulaziz University, KSA
                        </td>
                        <td><b>Dr. Muhammad Khurram</b>, NED University, Karachi

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Muhammad Saeed</b>, University of Karachi, Karachi
                        </td>
                        <td><b>Dr. Niladri Sett</b>, Insight Centre for Data Analytics, Ireland

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Noman Islam</b>, Iqra University, Karachi
                        </td>
                        <td><b>Dr. Quan Le</b>, CeADAR, Ireland

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Rauf Shams Malick</b>, FAST NU, Karachi
                        </td>
                        <td><b>Dr. S. Saleha Raza</b>, Habib University, Karachi

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. S. Saqib Bukhari</b>, DFKI, Germany
                        </td>
                        <td><b>Dr. S. Zafar Shazli</b>, Juniper Networks, USA

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Sadaf Abdul Rauf</b>, Fatima Jinnah Women University, Islamabad
                        </td>
                        <td><b>Dr. Saima Hassan</b>, Kohat University of Science &amp; Technology, Kohat

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Sajjad Haider</b>, IBA, Karachi
                        </td>
                        <td><b> Dr. Shabbar Naqvi</b>, Balochistan UET, Khuzdar

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Shahzad Cheema</b>, IBM, Germany
                        </td>
                        <td><b>Dr. Shahzad Mumtaz</b>, Islamia University Bahawalpur, Bahawalpur

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Shariyar Murtaza</b>, TELUS Communications, Canada
                        </td>
                        <td><b>Dr. Sibt Ul Hussain</b>, FAST NU, Islamaba

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Tahir Syed</b>, FAST NU, Karachi
                        </td>
                        <td><b>Dr. Tahseen Jilani</b>, University of Nottingham, UK

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Tariq Mahmood</b>, IBA, Karachi
                        </td>
                        <td><b>Dr. Veronique Eglin</b>, INSA de Lyon, France

                        </td>
                    </tr>
                    <tr>
                        <td><b>Dr. Yuichiro Kobayashi</b>, Nihon University, Japan
                        </td>
                        <td><b>Dr. Zain Abbas</b>, Scotiabank, Canada

                        </td>
                    </tr>
                    <tr>
                        <td align="centre"><b>Dr. Zeeshan-ul-hassan Usmani</b>, Data Scientist, USA
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
</div>
