<div class="container-fluid mt-3 mb-5">
    <!-- <h3>Committee</h3> -->
    <div class="row">
        <div class="col-md-12">
            <div class="committe-details text-center">
                <h3>Committees</h3>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card text-center card-styles mt-2">
                            <img class="card-img-top" src="assets/Dr-Zubair.2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Zubair A. Shaikh</h5>
                                <p class="card-text text-sub">Patron</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center card-styles mt-2">
                            <img class="card-img-top" src="assets/dean_foc-189x189.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Shaukat Wasi</h5>
                                <p class="card-text text-sub">Conference Chair</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="committe-details mt-5 text-center">
                <h3>Advisory Committee</h3>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Asim Imdad Wagan</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Syed Imran Jami</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Kamran Azeem</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Khalique Rehman Raazi</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Kashif Ishaque</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Ghazanfar Monir</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="committe-details mt-5 text-center">
                <h3>Program Committee</h3>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Khalique Rehman Raazi</h5>
                                <p class="card-text text-sub">Chair</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Rida Ayesha</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Samia Bashir</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Hira Hameed</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Mahnoor Iftikhar</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="committe-details mt-5 text-center">
                <h3>Technical Committee</h3>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Tafseer Ahmed</h5>
                                <p class="card-text text-sub">Chair</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Muhammad Yaseen Khan</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Nazish Nouman</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Aman Farooq</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="committe-details mt-5 text-center">
                <h3>Publicity/Public Relationing Committee</h3>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Syed Sarmad Ali</h5>
                                <p class="card-text text-sub">Chair</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Zain Noreen</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Ali Raza</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Abdul Qayyum</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Muhammad Tauseef</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="committe-details mt-5 text-center">
                <h3>Publication Committee</h3>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Teerath Das</h5>
                                <p class="card-text text-sub">Chair</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Mohammad Saif-ul-Islam</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Aman Farooq</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Mahnoor Iftikhar</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="committe-details mt-5 text-center">
                <h3>Registration & Finance Committee</h3>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Aqeel Tahir</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Fouzia Naz</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="committe-details mt-5 text-center">
                <h3>Marketing Committee</h3>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Zain Noreen</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-styles mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Rafia Shaikh</h5>
                                <p class="card-text text-sub">Member</p>
                                <p class="card-text text-center">
                                    <i class="fa fa-linkedin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>