.committe-details {

    .card-styles {
        width: 18rem;
        box-shadow: 0 1px 5px #9a9a9a;
        width: 18rem;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-img-top {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            height: 200px !important;
            width: 200px !important;
        }

        .text-sub {
            font-size: 14px;
            line-height: 1;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #9a9a9a;
        }

        i {
            color: #9a9a9a;
            cursor: pointer;

            &:hover {
                color: #2e2e2e;
            }
        }
    }
}