.app-banner {
    background: url(assets/maju.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 270px;

    .top-banner-img {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .banner-text {
        display: flex;
        flex: 1;
        flex-direction: column;
        color: #e1e1e1;

        span.banner-text-header {
            padding-top: 0px;
            font-size: 32px;
        }

        span.banner-text-end-date {
            display: flex;
            justify-content: flex-end;
            margin-top: 1s0px;
            margin-right: 10px;
            font-weight: bold;
        }
    }
}