<div class="app-banner p-3">
    <!-- <div class="top-banner-img">
        <img src="./../../../assets/img/maju_logo.png" alt="">
        <img src="./../../../assets/img/maju_logo.png" alt="">
        <img src="./../../../assets/img/maju_logo.png" alt="">
    </div>
    <div class="banner-text pt-2">
        <span class="banner-text-header text-center">2nd International Conference on Advancements in
            Computational Sciences</span>
        <span class="banner-text-end-date">15 February 2021, Karachi Pakistan</span>
    </div> -->

</div>