.page-layout {
  color: #676767;
  .page-subheading {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .page-contant {
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    ul {
      margin-left: 40px;
      margin-top: 20px;
    }
  }

  p {
    margin: 0;
  }
}

.track-details {
  ul {
    font-size: 14px;
    margin-left: 40px;
  }
}

.programs-ul {
  margin-top: 10px;
}
