.information-cards {
    color: #676767 !important;

    .card {
        border-radius: 0;
        border-width: 0;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);

        .card-heading-panel {
            background-color: #f5f5f5;
            border-color: #ddd;
            border-radius: 0;
            border-width: 0;
            -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
        }

        .card-items {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-start;
            text-align: justify;
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}