<div class="container-fluid mt-3 mb-5">
  <marquee
    >Currently the conference with be held online as well as on physical mode.
    However, physical mode will be confirmed one month before the conference
    date (depend on the COVID-19 situation). Online participation will always be
    there.</marquee
  >
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Affiliation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Dr. Gary Alan</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Dr Jan Jurgens</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Dr. Jamal Abawaaji</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Dr. Humaira Noor Minhas</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Dr. Zafar Shaazli</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Dr. Ji Wu</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Dr. Tariq (Italy)</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Dr. Ren Jian</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Dr. Imaad khan</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Dr. Ijaaz Ahmed</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Kiu chang</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Dr. Kamran Nishaat</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>Khashif Nisaar</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">17</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">18</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">19</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td colspan="2">Larry the Bird</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
