<app-baseline-layout>
    <div class="container-fluid mt-3 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="table-container">
                    <h3>Best paper</h3>
                    <div class="small-text" *ngIf="isNotBestPaperAvaliable">
                        No Data Avaliable
                    </div>
                    <table *ngIf="!isNotBestPaperAvaliable" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="col-head-width-4x">Track</th>
                                <th scope="col">Paper</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of bestPapersList">
                                <td class="make-bold">{{ list.track }}</td>
                                <td>{{ list.paper }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="table-container">
                    <h3>Accepted Papers</h3>
                    <div class="small-text" *ngIf="isNotAcceptedPapersAvaliable">
                        No Data Avaliable
                    </div>
                    <table *ngIf="!isNotAcceptedPapersAvaliable" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="col-head-width-1x">#</th>
                                <th scope="col">Author, title</th>
                                <th scope="col" class="col-head-width-2x">Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of acceptedPapersList">
                                <td>{{ list.paper_number }}</td>
                                <td>{{ list.autor_title }}</td>
                                <td>{{ list.area }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</app-baseline-layout>